{% extends 'sifanx/base.html' %}

{% load static %}
{% block title %}<title>Sifanx Gallery</title>{% endblock %}
{% block content %}

<div class="carousel-inner" role="listbox">
    {% for agent in p %}
    <!-- item -->
        <div class="carousel-item text-center text-light mb-5 {% if forloop.first %} active{% endif %}">
            <img src="{{ agent.img.url }}" class="img-fluid rounded-circle mb-3" width="150">
            <p class="px-3-p">{{ agent.typ }}</p>
        </div>
    <!-- end item -->
    {% endfor %}
</div>

{% endblock %}